<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealTor chat</title>
    <link rel="icon" href="{%static 'login/images/icon.png' %}" />

    <!-- css  -->
    <link rel="stylesheet" href="{%static 'login/css/chat-admin.css' %}">
</head>

<body>
    <div class="container">
        
        <!-- ========= left side ========== -->
        <div class="left-side">
            <div class="header">
                <div class="user-imgBx">
                    <img src="{%static 'login/images/pic/0.jpg' %}" alt="">
                </div>

                <ul class="nav-icons">
                    <li>
                        <ion-icon name="scan-circle-outline"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="chatbox"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </li>
                </ul>
            </div>

            <div class="search-chat">
                <input type="text" placeholder="Search or start new chat">
                <ion-icon name="search-outline"></ion-icon>
            </div>

            <div class="chat-list">
                <div class="chat active">
                    <div class="imgBx">
                        <img src="{%static 'login/images/pic/0.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">Youssef khaled</h4>
                            <span class="time">10:57</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi can we start a conservtion about this apprtments
                            </p>
                            <b class="num"></b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/pic/khaled ahmed.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">khaled ahmed</h4>
                            <span class="time">09:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi can we start a conservtion about this apprtments
                            </p>
                            <b class="num unread">1</b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/pic/abdulah.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">abdullah atriby</h4>
                            <span class="time">09:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi can we start a conservtion about this apprtments
                            </p>
                            <b class="num unread">3</b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/pic/312247977_699520604694720_3199362172154034106_n.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">bassem Ashraf</h4>
                            <span class="time">09:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi can we start a conservtion about this apprtments
                            </p>
                            <b class="num unread">2</b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/pic/youssef yasser.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">Youssef yasser</h4>
                            <span class="time">05:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi can we start a conservtion about this apprtments
                            </p>
                            <b class="num"></b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/pic/youssef ashraf.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">youssef Ashraf</h4>
                            <span class="time">05:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi can we start a conservtion about this apprtments
                            </p>
                            <b class="num"></b>
                        </div>
                    </div>
                </div>

                <!-- repeat last three 2X -->
                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/pic/toni.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">Toni</h4>
                            <span class="time">09:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi, i found you on youtube
                            </p>
                            <b class="num"></b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/img5.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">fares elbakry</h4>
                            <span class="time">05:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi, i found you on youtube
                            </p>
                            <b class="num"></b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/img6.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">ibrahem ahmed</h4>
                            <span class="time">05:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi, i found you on youtube
                            </p>
                            <b class="num"></b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/img4.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">Youssef khaled</h4>
                            <span class="time">09:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi, i found you on youtube
                            </p>
                            <b class="num"></b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/img5.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">khaled ahmed</h4>
                            <span class="time">05:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi, i found you on youtube
                            </p>
                            <b class="num"></b>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div class="imgBx">
                        <img src="{%static 'login/images/img6.jpg' %}" alt="">
                    </div>

                    <div class="details">
                        <div class="head">
                            <h4 class="name">basssem Ashraf</h4>
                            <span class="time">05:25</span>
                        </div>

                        <div class="msgs">
                            <p class="msg">
                                Hi, i found you on youtube
                            </p>
                            <b class="num"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========= right side ========== -->
        <div class="right-side">
            <div class="header">
                <div class="user-details">
                    <div class="user-imgBx">
                        <img src="{%static 'login/images/pic/0.jpg' %}" alt="">
                    </div>

                    <h4>Youssef khaled <br>
                        <span>Online</span>
                    </h4>
                </div>

                <ul class="nav-icons">
                    <li>
                        <ion-icon name="search-outline"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                    </li>
                </ul>
            </div>

            <div class="chatBx">
                <div class="msg msg-me">
                    <p>Hi <br> <span>12:15</span></p>
                </div>
                <div class="msg msg-frnd">
                    <p>Hello <br> <span>12:15</span></p>
                </div>

                <!-- repeat 8X  -->
                <div class="msg msg-me">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, tempora. <br>
                        <span>12:15</span>
                    </p>
                </div>
                <div class="msg msg-frnd">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> <span>12:15</span></p>
                </div>

                <div class="msg msg-me">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt error, similique voluptatem
                        mollitia illo totam? <br>
                        <span>12:15</span>
                    </p>
                </div>
                <div class="msg msg-frnd">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptate ipsam blanditiis! <br>
                        <span>12:15</span>
                    </p>
                </div>

                <div class="msg msg-me">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat modi praesentium
                        exercitationem reiciendis repudiandae velit eum harum maxime voluptatum.<br>
                        <span>12:15</span>
                    </p>
                </div>
                <div class="msg msg-frnd">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, accusamus recusandae iusto
                        inventore esse quae. <br>
                        <span>12:15</span>
                    </p>
                </div>

                <div class="msg msg-me">
                    <p>Ok <br> <span>12:15</span></p>
                </div>
                <div class="msg msg-frnd">
                    <p>Thank You <br> <span>12:15</span></p>
                </div>

                <div class="msg msg-me">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, tempora. <br>
                        <span>12:15</span>
                    </p>
                </div>
                <div class="msg msg-frnd">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> <span>12:15</span></p>
                </div>

                <div class="msg msg-me">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt error, similique voluptatem
                        mollitia illo totam? <br>
                        <span>12:15</span>
                    </p>
                </div>
                <div class="msg msg-frnd">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptate ipsam blanditiis! <br>
                        <span>12:15</span>
                    </p>
                </div>

                <div class="msg msg-me">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat modi praesentium
                        exercitationem reiciendis repudiandae velit eum harum maxime voluptatum.<br>
                        <span>12:15</span>
                    </p>
                </div>
                <div class="msg msg-frnd">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, accusamus recusandae iusto
                        inventore esse quae. <br>
                        <span>12:15</span>
                    </p>
                </div>
            </div>

            <div class="chat-input">
                <ion-icon name="happy-outline"></ion-icon>
                <ion-icon name="attach-outline"></ion-icon>
                <input type="text" placeholder="Type a messsage">
                <ion-icon name="mic-outline"></ion-icon>
            </div>
        </div>
    </div>


    <!-- icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>