<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>
    <meta charset="UTF-8">
    <title>loginchecked</title>
    <!--------------------------------------------- Start Google Fonts ------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;900&family=Josefin+Sans:wght@300&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,200;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <!--------------------------------------------------Ends Google Fonts ----------------------------------------->
    <!-- -----------------------------------------------Start icon aosem ------------------------------------------>
    <link rel="icon" href="{%static 'login/images/icon.png' %}" />
    <link rel="stylesheet" href="{%static 'login/fontawesome-free-6.2.0-web/css/all.css' %}" />
    <!-------------------------------------------------- End icon aosem----------------------------------------- -->
    <link rel="stylesheet" href="{%static 'login/css/loginchecked.css' %}">
  </head>

</head>
<body>
    <div class="contanier">
        <div class="form">
            <img class="img-ch" src="{%static 'login/images/checked.png' %}" alt="">
            <p class="massge">Thanks You !</p>
            <pre class="massge-1">Your details has been successfully
submitted. Thanks!
            </pre>
            <a href="{%url 'users:home' rs %}"><input class="btn" type="submit" value="Go Home"></a>
        </div>
        <h1>aa {{rs}}</h1>
    </div>
</body>
</html>