<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
    <!-- custom css file link  -->
    <link rel="icon" href="{%static '/css/payment.css' %}" />
    <link rel="stylesheet" href="{%static '/css/payment.css' %}" />
    <!-- Start Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;900&family=Josefin+Sans:wght@300&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,200;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <!--Ends Google Fonts -->
    <!-- Start icon aosem -->
    <link rel="icon" href="{%static '/images/icon.png' %}" />
    <link rel="stylesheet" href="{%static '/fontawesome-free-6.2.0-web/css/all.css' %}" />
    <!-- End icon aosem -->
  </head>
  <body>
    <div class="head">
      <div class="header content">
        <div class="logo">
          <div class="logo-icon">
            <a href="./home.html"><img src="{%static '/images/logo.png' %}" alt="" /></a>
          </div>
          <h3></h3>
        </div>
        <div class="links">
          <ul class="pos">
            <li class="activated">
              <a href="./home.html">Home</a>
            </li>
            <li>
              <a href="">Services</a>
            </li>
            <li>
              <a href="">upload</a>
            </li>
            <li>
              <a href="./contact-us.html">ContactUS</a>
            </li>
          </ul>
        </div>
        <div class="sign-btns">
          <div class="sign-in ogbtn">
            <a href=".//login.html">sign in</a>
          </div>
          <div class="sign-up ogbtn">
            <a href=".//login.html">sign-up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <form method="POST">
         {%csrf_token%}

        <div class="row">
          <div class="col">
            <h3 class="title">personal information</h3>

            <div class="inputBox">
              <span>Full name :</span>
              <input type="text" placeholder="" />
            </div>
            <div class="inputBox">
              <span>Email :</span>
              <input type="email" placeholder="example@example.com" />
            </div>
            <div class="inputBox">
              <span>Address :</span>
              <input type="text" placeholder="" />
            </div>
            <div class="inputBox">
              <span>city :</span>
              <input type="text" placeholder="" />
            </div>

            <div class="flex">
              <div class="inputBox">
                <span>state :</span>
                <input type="text" placeholder="" />
              </div>
              <div class="inputBox">
                <span>zip code :</span>
                <input type="text" placeholder="" />
              </div>
            </div>
          </div>

          <div class="col">
            <h3 class="title">Payment</h3>

            <div class="inputBox">
              <span>Cards accepted :</span>
              <img src="{%static '/images/card_img.png' %}" alt="" />
            </div>
            <div class="inputBox">
              <span>Name on card :</span>
              <input type="text" placeholder="Mr.XXXXX XXXXX" />
            </div>
            <div class="inputBox">
              <span>Credit card number :</span>
              <input type="number" placeholder="XXXX-XXXX-XXXX-XXXX" />
            </div>
            <div class="inputBox">
              <span>Exp month :</span>
              <input type="text" placeholder="" />
            </div>

            <div class="flex">
              <div class="inputBox">
                <span>Exp year :</span>
                <input type="number" placeholder="2022" />
              </div>
              <div class="inputBox">
                <span>CVV :</span>
                <input type="password" placeholder="1234" />
              </div>
            </div>
          </div>
        </div>

        <input type="submit" value="proceed to checkout" class="submit-btn" />
      </form>
    </div>
  </body>
</html>
